# NAMESPACE file for RNAseq_Enrichment_Package

# Import necessary functions from other packages
import(DESeq2)
import(clusterProfiler)
import(org.Hs.eg.db)
import(openxlsx)
import(ggplot2)
import(enrichplot)

# Export the main function
export(rna_seq_analysis)

